@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html, body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    gap: 90px
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 10%;
}

.cabecalho__links{
    display: flex;
    gap: 60px;
}

.cabecalho__links a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: .1s;
}

.cabecalho__links a:hover{
    color: #E85F19;
    font-weight: 600;
    transition: .1s;
}

.cabecalho__botao{
    background-color: #E85F19;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 10px #E85F19;
    transition: .1s;
    text-align: center;
    font-family: "Krona One", sans-serif;
    font-weight: 200;
}

.cabecalho__botao:hover{
    background-color: #FFFFFF;
    color: #E85F19;
    padding: 11px 21px;
    font-size: 1.01em;
    transition: .1s;
    font-weight: 400;
    box-shadow: 0px 2px 15px #e85e1973;
    border: 1px solid  #e85e1991;
}

p{
    font-size: 18px;
}

.main{
    margin: 0% 10%;
}

.principal{
    display: flex;
}

.principal img{
    width: 40%;
    height: 10%;
}

.principal__textos{
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 24px;
}

.principal__textos__titulo{
    font-family: "Krona One", sans-serif;
    width: 70%;
}

.destaque{
    color: #E85F19;
}

.principal__explore{
    display: flex;
    gap: 40px;
    padding-top: 5%;
}

.principal__explore__botao{
    padding: 20px;
    border: 2px solid black;
    text-decoration: none;
    border-radius: 50%;
}

.principal__explore__titulo{
    font-size: 14px;
}

.principal__explore img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #e85e199a;
    transition: .1s;
}

.principal__explore img:hover{
    width: 52px;
    height: 52px;
    border-radius: 50%;
    box-shadow: 0px 2px 10px #E85F19;
    transition: .1s;
}

.painel02{
    display: flex;
    flex-direction: column;
    font-family: "Krona One", sans-serif;
    align-items: center;
    gap: 80px;
    transition: .1s;
}

.painel02__servicos__servico:hover{
    border-radius: 8% 8%;
    transition: .1s;
    box-shadow: 0px 0px 20px #e85e196c;
}

.painel02__textos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.painel02__paragrafo{
    font-family: "Montserrat" , sans-serif;
    text-align: center;
}

.painel02__servicos{
    display: flex;
    gap: 30px;
}

.painel02__servicos__servico{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.288);
    border-radius: 10px;
    padding: 30px;
    overflow: hidden;
    transition: .1s;
}

.painel02__servicos__servico img{
    width: 25%;
    align-items: center;
}

.painel02__servicos__servico__paragrafo{
    font-family: "Montserrat" , sans-serif;
}

.Saiba__mais{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    text-decoration: underline;
}

.painel03{
    margin-top: 80px;
}

.painel03__container{
    display: flex;
    align-items: center;
    gap: 80px;
}

.painel03 img{
    width: 50%;
}

.painel03__container__titulo{
    font-family: "Krona One", sans-serif;
    font-size: 26px;
}

.painel03__container__div{
    display: flex;
    gap: 60px;
}

.painel03__conteiner__conteudo{
    margin: 0% 10% 0% 0%;
}

.painel03__container__lista__numeros{
    border-radius: 50%;
    background-color: #E85F19;
    width: 25px;
    height: 25px;
    text-align: center;
    padding: 2%;
    color: #FFFFFF;
    font-size: 25px;
}

.painel03__container__botoes{
    display: flex;
    gap: 80px;
    justify-content: center;
    margin-top: 60px;
}

.painel03__botao{
    padding: 10px 20px;
    text-decoration: none;
    color: #E85F19;
    border-radius: 10px;
    border: 2px solid #E85F19;
    text-align: center;
    font-family: "Krona One", sans-serif;
    font-weight: 200;
    transition: .1s;
}

.painel03__botao:hover{
    color: white;
    background-color: #E85F19;
    transition: .1s;
}